
body {
	margin: 0px;
	padding: 0px;
	background: url(/images/img01.jpg) repeat-x left top;
	font: 13px Arial, Helvetica, sans-serif;
	color: #212121;
}

h1, h2, h3 {
	margin-top: 0px;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.4em;
}

p, ol, ul {
	margin-bottom: 1.8em;
	line-height: 160%;
}

a img {
	border: none;
}

/* Header */

#header {
	width: 900px;
	height: 130px;
	margin: 0px auto;
	background: #699C4D;
}

#header a {
	text-decoration: none;
	color: #FFFFFF;
}

/* Logo */

#logo {
	float: left;
	/* background: url(/images/icon-ladder.png) no-repeat left top; */
	padding-left: 70px;
}

img.logo {
	float:left;
	height: 130px;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #FFFFFF;
}

#logo h1 {
	padding: 25px 0px 0px 0px;
}

/* Menu */

#menu {
	float: right;
	background: #243F12;
	border-top: 2px #9BC56F solid;
	margin: 30px 0 0 0;
}

#menu ul {
	margin: 0px 0 0 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	margin: 0px 0px 0px 1px;
}

#menu a {
	display: block;
	width: auto;
	height: 28px;
	padding: 12px 20px 0px 20px;
	background: url(/images/img02.jpg) no-repeat right 50%;
}

#menu a:hover {
	text-decoration: underline;
}

#menu .first {
	background: none;
}

#menu .active a {
}

/* two column pattern */
.two-col-wrapper{
	position: relative;
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

.left-col {
	float: left;
	width: 60%;
	position: relative;
	left: 5%;
	padding-bottom: 1em;
	overflow: hidden;
}

.right-col {
	float: right;
	width: 23%;
	position: relative;
	right: 5%;
}

/* page */
#page-wrapper {
	clear: both;
	width: 900px;
	margin: 0px auto 30px auto;
}

/* Footer */

#footer {
	clear: both;
	width: 900px;
	height: 50px;
	margin: 0px auto 30px auto;
	color: #FFFFFF;
	background: #699C4D;
}

#footer p {
	margin: 0px;
	padding: 19px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: smaller;
}

#footer a {
	color: #FFFFFF;
}

/* player divs */
.player .gravatar{
	float:left;
	margin-bottom: 10px;
	margin-right: 5px;
}
.player{
	clear:left;
	padding-bottom: 7px;
	min-height: 50px;
}

.small-arrow{
	height:16px;
	width: 16px;
}
