=partial(:header)      
%h1= "Private Ladder System"
.app-description= "The private ladder system is a way for groups of friends to challenge eachother in games and gain bragging rights.  It is simple and made to be fun."
    
  

