/* GLOBAL RULES */
@mixin rounded{
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 5px;
}

@mixin blank-list{
    list-style: inside none none;
    li {
        padding-top: 10px;
    }
}

a:link{
    color: rgb(0,0,0);
    text-decoration: underline;
    -webkit-transition-property:color,background-color,padding-left;
    -webkit-transition-duration:500ms,500ms,500ms;
}
a:visited{ @extend a:link; }
a:active{ @extend a:link; }
a:hover{
    color:#333;
    padding-left:10px
}


a.light:link{
    @extend a:link;
    color: rgb(255,255,255);
}
a.light:visited{ @extend a.light:link; }
a.light:active{ @extend a.light:link; }
a.light:hover{ @extend a:hover; }

/* END GLOBAL RULES */
/* NAVIGATION RULES */
@mixin inline{
  display: inline;
  padding-left: 5px;
}

.quick-nav{
  @include inline
}

.menu-item{
  @include inline
}

.separator{
  @include inline
}

/* END NAVIGATION RULES */
/* PLAYER RULES */
#player-list{
    @include blank-list;
}

.player {
    @include rounded;
    background: rgba(0, 0, 255, 0.8);
    max-width: 200px;
    color: rgba(255,255,255,0.9)
}

.player .name{
    text-align: center;
}
/* END PLAYER RULES */
/* LEAGUE RULES */
#league-list{
    @include blank-list;
}
.league {
  @include rounded;
  background: rgba(32,180, 32, 0.9);
  max-width: 200px;
  color: rgba(255,255,255,0.9);
}
/* ENG LEAGUE RULES */

/* PLAYER STAT RULES */
.player-stat{
    @include rounded;
    background: rgba(0,0,255,0.8);
    max-width: 200px;
    color: rgba(255,255,255,0.9);
}
/* END PLAYER STAT RULES */