@mixin blank-list{
    list-style: inside none none;
    li {
        padding-top: 10px;
    }
}

#player-list{
    @include blank-list
}

.player {
    background: rgba(0, 0, 255, 0.8);
    border-radius: 15px;
    -moz-border-radius: 15px;
    padding: 5px;
    max-width: 200px;
    color: rgba(255,255,255,0.9)
}