<!DOCTYPE html>
<html>
<head>
  <title>Ladder</title>
  <%= stylesheet_link_tag :all %>
  <script type="text/javsacript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
